/*
### Primary

- Bright Blue: hsl(220, 98%, 61%)
- Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

### Neutral

### Light Theme

- Very Light Gray: hsl(0, 0%, 98%) bg-2
- Very Light Grayish Blue: hsl(236, 33%, 92%) bg-1
- Light Grayish Blue: hsl(233, 11%, 84%) text-2 (checked)
- Dark Grayish Blue: hsl(236, 9%, 61%) text-3
- Very Dark Grayish Blue: hsl(235, 19%, 35%) text-1

### Dark Theme

- Very Dark Blue: hsl(235, 21%, 11%) bg 1
- Very Dark Desaturated Blue: hsl(235, 24%, 19%) bg-2
- Light Grayish Blue: hsl(234, 39%, 85%) text-1
- Light Grayish Blue (hover): hsl(236, 33%, 92%) text-2 hover
- Dark Grayish Blue: hsl(234, 11%, 52%) text-3
- Very Dark Grayish Blue: hsl(233, 14%, 35%) text-2 (checked)
- Very Dark Grayish Blue: hsl(237, 14%, 26%)


*/
:root {
  /*primary colors*/
  --clr-primary: hsl(220, 98%, 61%);
  --grdn-primary:
    linear-gradient( 
      to right bottom,
      hsl(192, 100%, 67%), 
      hsl(280, 87%, 65%)
    );
  --white:#fff;
  --black:#000;

  /*light mode colors*/
  --text-hover: hsl(235, 24%, 19%);
  --text-1: hsl(235, 19%, 35%);
  --text-3: hsl(236, 9%, 61%);
  --text-2: hsl(233, 11%, 84%);
  --bg-1: hsl(236, 33%, 92%);
  --bg-2: hsl(0, 0%, 98%);

  --shadow-1: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  --line-1:  0.1rem solid var(--text-2);

  transition: color 0.2s;
}

:root[data-theme="dark"] {

  /*dark mode colors*/
  --bg-1: hsl(235, 21%, 11%);
  // --bg-2: hsl(235, 24%, 19%);
  --bg-2: hsl(237, 14%, 26%);
  --text-2: hsl(233, 14%, 35%);
  --text-3: hsl(234, 11%, 52%);
  --text-1: hsl(234, 39%, 85%);
  --text-hover: hsl(236, 33%, 92%);

}

/*******************************/
/***********Mixins*************/

@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centerFlexJustify($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
}

@mixin centerFlexAlign($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
}

/*************************************/
* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: 56.25em) {
    font-size: 50%;
  }
}

body {
  font-family:'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.8rem;
  color: var(--text-1);
  min-height: 100vh;
  background-color: var(--bg-1);
  transition: all 0.2s;
}

.App {
  // min-height: 100vh;
  width: 100%;

  @include centerFlex();
}

.bg {
  position: fixed;
  top: 0;
  z-index: -10;
  &__img {
    height: 25rem;
    overflow: hidden;
    img {
      object-fit: contain;
    }
  }
}

.container {
  margin-top: 6rem;
  width: 40%;
  overflow: hidden;
  @include centerFlexJustify(column);

  @media only screen and (max-width: 56.25em) {
    width: 60%;
  }
  @media only screen and (max-width: 37.5em) {
    width: 70%;
  }
  @media only screen and (max-width: 31.25em) {
    width: 80%;
  }
  @media only screen and (max-width: 27.5em) {
    width: 90%;
  }
}

.header {
  @include centerFlexAlign(row);
  justify-content: space-between;
  &__title {
    color: var(--white);
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1rem;
  }
  &__mode-icon {
    height: 3.2rem;
    width: 3.2rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.05) rotate(0);
    }
    &:active {
      transform: scale(0.95) rotate(50deg);
    }
  }
}

.search {
  position: relative;
  margin-top: 3rem;
  &__input {
    width: 100%;
    height: 6rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 1rem 5.8rem;
    background-color: var(--bg-2);
    border-radius: 0.5rem;
    box-shadow: var(--shadow-1);
    border: none;
    appearance: none;
    box-sizing: border-box;
    position: relative;
    transition: all 0.2s;
    backface-visibility: hidden;

    &:focus {
      outline: none;
    }

  }
  &::before {
    content: "";
    position: absolute;
    top: 1.8rem;
    left: 2rem;
    z-index: 10;
    height: 1.8rem;
    width: 1.8rem;
    border: var(--line-1);
    border-radius: 100rem;
  }
}

.todo {
  width: 100%;
  z-index: 2;
  margin-top: 2rem;
  background-color: var(--bg-2);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-1);
  overflow: hidden;

  &__list {
    list-style: none;
  }
  
  &__cross {
    cursor: pointer;
    margin-left: auto;
    margin-right: 1.5rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    height: 1.8rem;
    width: 1.8rem;

    &:hover {
      transform: scale(0.97);
    }
    &:active {
      transform: scale(0.9);
    }
  }

  &__item {
    padding: 2rem 0;
    border-bottom: var(--line-1);
    @include centerFlex();
    justify-content: flex-start;
    // cursor: grab;
    
    &:hover span {
      background: var(--grdn-primary);
  
    }
    &:hover .todo__cross {
      opacity: 1;
      visibility: visible;
  
    }
  
    &:hover p,
    &:hover span {
      transform: scale(0.98);
    }

    p {
      display: inline-block;
      margin-left: 2rem;
      transition: all 0.2s;
      backface-visibility: hidden;
    }
    
    span {
      backface-visibility: hidden;
      cursor: pointer;
      margin-left: 2rem;
      display: block;
      position: relative;
      height: 1.9rem;
      width: 1.9rem;
      z-index: 10;
      background: var(--text-2);
      border-radius: 100rem;
      transition: all 0.2s;
      
      @include centerFlex();
      
      &:active {
        transform: scale(0.90);
      }

      &::before {
        content: "";
        position: absolute;
        height: 1.7rem;
        width: 1.7rem;
        border-radius: 100rem;
        background: var(--bg-2);
      }
    }
    
  }
  
  &__check {
    opacity: 0;
    visibility: hidden;
    z-index: 10;
  }
  

  /****if completed****/

  &__item[data-status="completed"] {

    &:hover p,
    &:hover span {
      transform: scale(1);
    }

    p {
      color: var(--text-2);
      position: relative;
      
      &::before {
        position: absolute;
        top: 50%;
        content: "";
        width: 100%;
        height: 0.2rem;
        background-color: currentColor;
      }
    }

    span {
      background: var(--grdn-primary);
      
      &::before {
        background: var(--grdn-primary);
      }
    }

    .todo__check {
      opacity: 1;
      visibility: visible;
    }
  }

  &__bar {
    @include centerFlex();
    justify-content: space-between;
    font-size: 1.4rem;
    color: var(--text-3);
    padding: 2rem 1.5rem;
    backface-visibility: hidden;
    
    .cate-list {
      padding: 0;
      margin: 0;
      list-style: none;
      @include centerFlex();
      li {
        transition: all 0.2s;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }

      .selected {
        color: var(--clr-primary);
        font-weight: bold;
      }
    }

  }

  &__del-btn {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    transition: all 0.2s;

    &:focus {
      outline: none;
    }
  }
  &__del-btn:hover, &__status li:hover {
    color: var(--text-1);
  }
}

.over {
  background-color: var(--bg-1);
}